*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    background-color: #ffe000;
    color: #198754;
    text-align: justify;
}
a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
  }
a{
    font-size: 20px;
    color: #198754 !important;
}
a:hover, .active {
    color: #ffe000 !important;
}
.active {
    font-size: 25px !important;
}
#gallery {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    text-align: center;
    background-color: #198754;
    cursor: pointer;
}
.maps {
    border: 3px solid black;
    cursor: pointer;
}
.maps:hover{
  transform:scale(1.1);
  -ms-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -webkit-transform:scale(1.1);
  -o-transform:scale(1.1);
}
.ask {
    font-size: 17px;
    font-weight: none;
}
.intro-header {
    position: relative;
}
.bob {
    background-color: #198754;
    width: 450px;
    height: 150px;
    border: 3px solid white;
    opacity: .7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.bobi{
    color: #ffe000;
    font-weight: bold;
    margin: 0;
}
.carousel-caption {
    padding: 0 !important;
    margin: 0 !important;
}
.form-group {
    font-size: 20px;
    position: relative;
}
label.error {
  position: absolute;
  top: 30px;
  right: 0;
  color: #cc0000;
}
.form {
    font-size: 22px !important;
}
.container {
    color: black;
}
.link {
    text-decoration: underline;
}
.link:hover {
    color: red !important;
}
.naslov {
    font-size: 20px;
    font-weight: bold;
}
.container, .link, .link:hover {
    font-size: 16px;
    font-weight: bold;
}

audio {
    width: 200px;
    height: 40px;
}
.back-to-top {
  width: 40px;
  height: 40px;
  border: 3px solid white;
  background-color: #198754;
  background-image: url("../img/back-to-top.png");
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  position: absolute;
  right: 50px;
  cursor: pointer;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

  .back-to-top:hover {
    width: 45px;
    height: 45px;
    border: 3px solid #198754;
    background-image: url("../img/back-to-top.png");
    background-color: white;
}
.im {
    width: 140px;
    height: 140px;
    border: 5px solid black;
    margin: 3px 3px 3px 3px;
}
@media screen and (min-width: 576px){
    .im {
        width: 180px;
        height: 180px;
    }
    .ask{
        font-size: 22px;
    }
    .naslov {
        font-size: 30px;
    }
    .container, .link, .link:hover {
        font-size: 18px;
    }

}
@media screen and (min-width: 768px){
    .ask {
        font-size: 25px;
    }
    .im {
        width: 220px;
        height: 220px;
    }
    .contact {
        padding-top: 20px;
    }
    .container, .link, .link:hover {
        font-size: 20px;
    }
    audio {
        width: 250px;
        height: 40px;
    }
   
}
@media screen and (min-width: 992px){
    .container, .link, .link:hover {
        font-size: 22px;
    }
    .im {
        width: 300px;
        height: 300px;
    }
    .contact {
        padding-top: 70px;
    }
    audio {
        width: 300px;
        height: 50px;
    }
    
}

